body {
  background-color: #FB8C00 !important;
  margin: 0;
}

#logo {
  width: 80%;
  height: auto;
  margin-left: 10%;
  position: absolute;
  top: 30%;
}

#button {
  position: absolute;
  bottom: 20%;
  margin-left: 35%;
  cursor: pointer;
  width: 30%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("http://www.clcillinois.edu/Sitefinity/WebsiteTemplates/CLCTemplate/App_Themes/CLC/img/07-misc/icons-white/location.png");
}

#postcode-getter-container {
  width: 50%;
  position: absolute;
  bottom: 40%;
  margin-left: 25%;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 200;
}
#current-location-container{
    width: 100%;
    position: absolute;
    bottom: 5%;
    margin-left: 21%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
}
#location{
    height: 15px;
    width: 15px;
}

#code {
  width: 100%;
}

input {
  border: black solid 0.2em;
  padding: 0.5em;
}

#results {
  display: none;
  width: 100vw;
  height: 100vh;
}

#homepage {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: inherit;
}
#loading-screen{
    width: 100vw;
    height: 100vh;
    z-index: -999;
    display: none;

}
#loader{
    position: absolute;
    width: 10%;
    height: auto;
    left: 45%;
    top: 45%;
}
